<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/" method="post">

      <input type="text" name="a1" value="" placeholder="name">
      <input type="text" name="a2" value="" placeholder="account number">
      <input type="text" name="a3" value="" placeholder="cash">

    <button type="submit" name="button">submit</button>
    </form>
      
  </body>
</html>
